<template>
  <NuxtLayout>
    <NuxtPage />
  </NuxtLayout>
</template>

<script setup lang="ts">
import { useGtm } from '@gtm-support/vue-gtm'
import { watch, onMounted } from 'vue'
import { useRoute } from 'vue-router'

const route = useRoute()
const gtm = useGtm()

onMounted(() => {
  if (route.name) {
    gtm?.trackView(route.name.toString(), route.path)
  }
})

watch(route, (to) => {
  if (to.name) {
    gtm?.trackView(to.name.toString(), to.path)
  }
})
</script>
