<template>
  <div class="card-intro" :class="[props.theme]">
    <div class="image-container">
      <UiImage :src="`${props.intro.image}`" :theme="`card-${props.theme}`" :hover="hover" />
      <UiImage v-if="props.theme === 'default'" src="/images/ui/card-default-ornaments.png" class="ornaments" object-fit="contain" />
    </div>
    <div class="text-container">
      <UiTitle size="xs" tag="h4" class="title">
        {{ props.intro.title }}
      </UiTitle>
      <UiText class="text">
        {{ props.intro.text }}
      </UiText>
    </div>
    <div ref="corner" class="corner" />
    <div v-show="props.theme === 'default'" ref="dot" class="dot" />
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { gsap } from 'gsap'
import { CardIntroType } from '~/types/intro'

interface Props {
    intro: CardIntroType,
    theme?: 'default'|'three-intros',
    hover?: boolean
}

const props = withDefaults(defineProps<Props>(), {
  theme: 'default'
})

const corner = ref(null)
const dot = ref(null)

onMounted(() => {
  initAnimation(corner.value, 'top 90%')
  initAnimation(dot.value, 'top 80%')
})

const initAnimation = (target: gsap.DOMTarget, start: string) => {
  gsap.timeline({
    scrollTrigger: {
      trigger: target,
      start,
      scrub: 1,
      end: '+=200'
    }
  })
    .from(target, {
      opacity: 0,
      x: -10,
      y: -10,
      rotation: 180
    })
}
</script>

<style lang="postcss" scoped>
.card-intro {
  position: relative;
  width: 100%;
  min-height: 45rem;
  text-align: left;

  .image-container {
    position: relative;
  }

  .corner {
    position: absolute;
    bottom: 0;
    right: 1px;
    width: 1.6rem;
    height: 1.6rem;
    border-bottom: 1px solid rgb(var(--cyan));
    border-right: 1px solid rgb(var(--cyan));
  }

  .dot {
      position: absolute;
      bottom: calc(100% + 0.2rem);
      right: calc(100% - 0.4rem);
      font-size: 1.2rem;
      line-height: 0.4;
      background-color: rgb(var(--purple));
      width: 0.6rem;
      height: 0.6rem;
      transform: rotate(45deg);
    }

  .ornaments {
    @mixin fit{}
    padding: 4rem;
    pointer-events: none;
  }

  /* Themes */
  &.default {
    height: calc(var(--card-intro-default-height) + 2rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 2rem 3rem 4rem;
    overflow: visible;
    position: relative;

    .image-container {
      @mixin fit{}
      z-index: 1;
    }

    .text-container {
      position: relative;
      width: 100%;
      background-color: rgba(var(--black), 0.5);
      border-radius: var(--border-radius-xs);
      padding: 0.5rem 2rem 1.5rem;
      border: 2px solid rgba(var(--white), 0.2);
      z-index: 2;
    }

    .corner {
      transform: translate(0.4rem, 0);
    }
  }
}
</style>
