@define-mixin bg-dotted {
  background-color: transparent;
  background-image: radial-gradient(
      rgba(var(--white), 0.1) 10%,
      transparent 11%
    ),
    radial-gradient(rgba(var(--white), 0.1) 10%, transparent 11%);
  background-size: 12px 12px;
  background-position: 0 0, 6px 6px;
  background-repeat: repeat;
}
