@define-mixin xs {
  @media screen and (max-width: 599px) {
    @mixin-content;
  }
}

@define-mixin sm {
  @media screen and (max-width: 767px) {
    @mixin-content;
  }
}
@define-mixin md {
  @media screen and (min-width: 768px) and (max-width: 1079px) {
    @mixin-content;
  }
}
@define-mixin lg {
  @media screen and (min-width: 1080px) and (max-width: 1279px) {
    @mixin-content;
  }
}
@define-mixin xl {
  @media screen and (min-width: 1280px) and (max-width: 1440px) {
    @mixin-content;
  }
}

@define-mixin md-up {
  @media screen and (min-width: 768px) {
    @mixin-content;
  }
}
@define-mixin lg-up {
  @media screen and (min-width: 1080px) {
    @mixin-content;
  }
}
@define-mixin xl-up {
  @media screen and (min-width: 1280px) {
    @mixin-content;
  }
}

@define-mixin md-down {
  @media screen and (max-width: 1079px) {
    @mixin-content;
  }
}
@define-mixin lg-down {
  @media screen and (max-width: 1279px) {
    @mixin-content;
  }
}
