<template>
  <div class="block-card-slider">
    <UiContainer>
      <UiTitle v-if="props.title" tag="h1" size="lg" theme="hero" :after="title">
        {{ props.title }}
      </UiTitle>
      <div v-if="$slots.default" class="text">
        <UiText size="lg">
          <slot />
        </UiText>
      </div>
    </UiContainer>
    <div class="slider-wrapper">
      <UiImage src="/images/blocks/cards-slider-lines.png" class="lines" object-fit="contain" />
      <div class="slider-bg" />
      <UiContainer class="slider-container">
        <Swiper
          :modules="[Navigation]"
          :slides-per-view="1.2"
          :space-between="20"
          :navigation="{
            enabled: true,
            prevEl: '.slider-prev',
            nextEl: '.slider-next'
          }"
          :breakpoints="{
            // when window width is >= 640px
            640: {
              slidesPerView: 2.4,
            },
            1080: {
              slidesPerView: 3,
            }
          }"
          class="slider"
        >
          <SwiperSlide v-for="(intro, index) in props.slides" :key="index">
            <CardIntro :intro="intro" />
          </SwiperSlide>
          <div class="slider-nav">
            <div class="slider-prev">
              <UiIcon name="arrow-long-right" />
            </div>
            <div class="slider-next">
              <UiIcon name="arrow-long-right" />
            </div>
          </div>
        </Swiper>
      </UiContainer>
    </div>
  </div>
</template>

<script setup lang="ts">
import { Navigation } from 'swiper'
import { Swiper, SwiperSlide } from 'swiper/vue'
import { CardIntroType } from '~/types'

import 'swiper/css'
import 'swiper/css/navigation'

interface Props {
    title?: string,
    slides: CardIntroType[]
}

const props = defineProps<Props>()
</script>

<style lang="postcss" scoped>
.block-card-slider {
    text-align: center;
}
.text {
  margin: auto;

  @mixin lg-up {
    max-width: calc(var(--col) * 10);
  }
}
.slider-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65rem;
}
.lines {
  @mixin fit{}
  padding-top: 5rem;
  pointer-events: none;
}
.slider-bg {
  position: absolute;
  height: 28rem;
  width: 100%;
  background-color: rgb(var(--medium-blue));

  &::after {
    content: '';
    @mixin fit{}
    @mixin bg-dotted{}
  }
}
.slider-container {
  overflow: hidden;
  padding: 0.75rem 0;
}
.slider {
  overflow: visible;
  margin: 8rem 0 3rem;
}
.slider-nav {
  display: flex;
  padding-top: 3rem;
  justify-content: space-between;
  color: rgb(var(--cyan));

  .slider-prev,
  .slider-next {
    cursor: pointer;

    @mixin sm {
      display: none;
    }

    &.swiper-button-disabled {
      opacity: 0.3;
    }
  }
  .slider-prev {
    transform: rotate(180deg);
  }
}
</style>
