<template>
  <UiContainer class="block-blog-latest">
    <UiTitle v-if="props.title" tag="h1" size="lg" theme="hero" :after="title">
      {{ props.title }}
    </UiTitle>
    <div v-if="$slots.default" class="text">
      <UiText size="lg">
        <slot />
      </UiText>
    </div>
    <div class="cards">
      <NuxtLink v-for="(intro, index) in intros" :key="index" :to="intro.url" class="card">
        <CardIntro :intro="intro" hover />
      </NuxtLink>
    </div>
  </UiContainer>
</template>

<script setup lang="ts">
interface Props {
    title?: string,
}

const props = defineProps<Props>()

const navBlog = await queryContent().where({
  _path: {
    $contains: '/blog'
  }
}).find()

const intros = navBlog.slice(0, 3).map((item) => {
  return {
    image: item.image_card,
    title: item.title,
    text: item.description,
    url: item._path
  }
})
</script>

<style lang="postcss" scoped>
.block-blog-latest {
  .text {
    margin: auto;
    text-align: center;
    margin-bottom: 9rem;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gutter);
    flex-wrap: wrap;

    @mixin md-down {
      flex-wrap: wrap;
    }
  }

  .card {
    flex: 1 1 auto;
    display: block;

    @mixin md-down {
      width: 100%;
    }
  }
}
</style>
