<template>
  <div class="block-hero-content">
    <div class="background">
      <UiImage
        :src="props.backgroundImage"
        class="image"
      />
      <UiImage
        src="/images/blocks/hero-home-lines.png"
        blend-mode="overlay"
        class="image"
      />
    </div>
    <UiContainer>
      <div class="content">
        <UiImage src="/images/logo.svg" blend-mode="overlay" class="logo" />
        <UiTitle tag="h1" class="title" size="md">
          {{ props.title }}
        </UiTitle>
      </div>
    </UiContainer>
    <div class="foreground">
      <UiImage
        :src="props.foregroundImage"
      />
    </div>
  </div>
</template>

<script setup lang="ts">
interface Props {
  title: string,
  backgroundImage: string,
  foregroundImage: string,
}

const props = defineProps<Props>()
</script>

<style lang="postcss" scoped>
.block-hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 70vh;

  .background {
    @mixin fit{}
    z-index: 0;

    .image {
      position: absolute;
    }
  }

  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @mixin md-down {
      align-items: flex-end;
      padding-bottom: 5rem;
    }
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  .title {
    margin-right: 5%;
    margin-top: auto;
    z-index: 10;
  }

  .foreground {
    position: absolute;
    left: 10%;
    bottom: 0;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 5;

    @mixin sm {
      width: 50%;
    }
    @mixin lg-up {
      max-width: 20vw;
    }
  }

  .logo {
    position: relative;
    width: 100%;
    max-width: calc(var(--col) * 10);
    z-index: 1;
  }
}
</style>
