<template>
  <div class="page-banner">
    <div class="background">
      <UiImage :src="props.image" class="image" />
      <UiContainer class="container">
        <div class="content">
          <UiTitle tag="h1" size="lg" no-margin>
            {{ props.title }}
          </UiTitle>
          <UiText v-if="props.intro" size="lg">
            {{ props.intro }}
          </UiText>
        </div>
      </UiContainer>
    </div>
  </div>
</template>

<script setup lang="ts">
interface Props {
  image: string,
  title: string,
  intro?: string,
}

const props = defineProps<Props>()
</script>

<style lang="postcss" scoped>
.page-banner {
  position: relative;
  width: 100%;
  height: 50vh;
  background-color: rgb(var(--black));

  .background {
    @mixin fit{}
    z-index: 0;

    .image {
      position: absolute;
    }
  }

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .content {
    width: 100%;
    height: 100%;
    padding-bottom: 3rem;
  }

  .title {
    --color: var(--white);
  }
}
</style>
