<template>
  <div class="block-community">
    <div class="background">
      <UiImage
        :src="backgroundImage"
        class="image"
      />
      <UiClipPath path-id="mask-community" />
    </div>
    <UiContainer class="content">
      <UiTitle tag="h1" size="lg" theme="hero" after="Community">
        {{ props.title }}
      </UiTitle>
      <div class="text">
        <UiText size="lg">
          <slot />
        </UiText>
      </div>
      <UiSocialCards />
    </UiContainer>
  </div>
</template>

<script setup lang="ts">
interface Props {
  title: string,
  backgroundImage: string
}

const props = defineProps<Props>()
</script>

<style lang="postcss" scoped>
.block-community {
  position: relative;
  padding: 4rem 0 10rem;
  height: 63rem;
  width: 100%;
  max-width: 144rem;
  margin: auto;
  text-align: center;

  @mixin sm {
    height: 40rem;
  }

  .background {
      @mixin fit{}
      opacity: 0.25;
  }

  .image {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: url(#mask-community);
    background-color: rgb(var(--medium-blue));
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .text {
    margin-bottom: 6rem;
  }
}
</style>
