<template>
  <div :class="[`block-separator`, { 'reverse-h': props.reverseH, 'reverse-v': props.reverseV }]">
    <div ref="image">
      <UiImage :src="`/images/blocks/separator-${props.separator}.svg`" class="image" />
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { gsap } from 'gsap'

interface Props {
  reverseH?: boolean,
  reverseV?: boolean,
  separator?: string,
}

const props = withDefaults(defineProps<Props>(), {
  separator: 'h-1'
})

const image = ref(null)

onMounted(() => {
  initAnimations(image.value)
})

const initAnimations = (target: gsap.DOMTarget) => {
  gsap.timeline({
    scrollTrigger: {
      trigger: target,
      scrub: 3,
      start: 'center center',
      end: '+=250'
    }
  })
    .from(target, {
      x: -100,
      opacity: 0
    })
}
</script>

<style lang="postcss" scoped>
.block-separator {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  overflow: hidden;

  &.reverse-h {
    transform: scaleX(-1);
    align-items: flex-end;
  }
  &.reverse-v {
    transform: scaleY(-1);
  }
  &.reverse-h.reverse-v {
    transform: scale(-1);
  }

  .image {
    width: 35vw;

    @mixin lg-up {
      width: 50rem;
    }
  }
}
</style>
