<template>
  <UiContainer class="block-text-hero">
    <div class="inner">
      <div ref="plus" class="plus-icon-wrapper">
        <UiIcon name="plus" />
      </div>
      <UiText size="lg">
        <slot />
      </UiText>
      <div ref="squares" class="squares-icon-wrapper">
        <UiIcon name="squares-45-deg" />
      </div>
    </div>
  </UiContainer>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { gsap } from 'gsap'

const plus = ref(null)
const squares = ref(null)

onMounted(() => {
  initAnimation(plus.value, 'top 80%', {
    opacity: 0,
    rotation: 270
  })
  initAnimation(squares.value, 'top 80%', {
    opacity: 0
  })
})

const initAnimation = (target: gsap.DOMTarget, start: string, options: Record<string, unknown>) => {
  gsap.timeline({
    scrollTrigger: {
      trigger: target,
      start,
      scrub: 1,
      end: '+=100'
    }
  })
    .from(target, options)
}
</script>

<style lang="postcss" scoped>
.block-text-hero {
  .inner {
    display: flex;
    flex-direction: column;

    @mixin md-up {
      padding: 0 var(--col);
    }
  }

  .text {
    padding: 3rem 0;

    @mixin sm {
      padding: 5rem 0;
    }
  }

  .plus-icon-wrapper {
    --icon-size: 4rem;

    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 0;

    font-size: var(--icon-size);

    @mixin sm {
      text-align: center;
    }
    @mixin md-up {
      transform: translateX(calc(var(--col) * -1));
    }
  }

  .squares-icon-wrapper {
    pointer-events: none;

    @mixin sm {
      text-align: center;
    }
    @mixin md-up {
      transform: translateX(var(--col));
      margin-left: auto;
    }
  }
}
</style>
