<template>
  <UiContainer class="block-three-intros">
    <div class="content">
      <div class="background">
        <div class="lines" />
        <div class="background-path-top" />
        <UiClipPath path-id="mask-three-intros" />
      </div>
      <div class="inner">
        <CardIntro v-for="(intro, index) in props.intros" :key="index" :intro="intro" theme="three-intros" />
      </div>
    </div>
    <div class="ornaments">
      <div ref="line" class="cyan-line" />
      <div ref="rect" class="cyan-rect" />
    </div>
  </UiContainer>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { gsap } from 'gsap'
import { CardIntroType } from '~/types'

interface Props {
  intros: CardIntroType[],
}

const props = defineProps<Props>()

const line = ref(null)
const rect = ref(null)

onMounted(() => {
  initAnimation(line.value, 'top 80%')
  initAnimation(rect.value, 'top 90%')
})

const initAnimation = (target: gsap.DOMTarget, start: string) => {
  gsap.timeline({
    scrollTrigger: {
      trigger: target,
      start,
      scrub: 1,
      end: '+=200'
    }
  })
    .from(target, {
      x: 30,
      opacity: 0
    })
}
</script>

<style lang="postcss" scoped>
.block-three-intros {
  position: relative;
  transform: translateY(calc((var(--blocks-gap) * -1) - 3rem));
  z-index: var(--three-intros-index);

  .background {
    @mixin fit{}

    @mixin lg-down {
      max-width: calc(100% - var(--gutter) * 2);
      transform: translateX(var(--gutter));
    }
  }

  .lines {
    @mixin fit{}
    height: calc(100% - 3rem);
    background-image: url(/images/blocks/three-intros-lines.png);
    background-size: cover;
    z-index: 1;
    pointer-events: none;
  }

  .background-path-top {
    position: relative;
    height: 6rem;
    width: 100%;
    clip-path: url(#mask-three-intros);
    background-color: rgb(var(--medium-blue));

    &::before {
      content: '';
      @mixin fit{}
      @mixin bg-dotted{}
    }
  }

  .content {
    padding-top: 6rem;

    .inner {
      position: relative;
      padding: 0 3rem 3rem;
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      position: relative;
      gap: 4rem;
      background-color: rgb(var(--medium-blue));

      &::before {
        content: '';
        @mixin fit{}
        @mixin bg-dotted{}
      }

      @mixin sm {
        flex-direction: column;
      }
    }
  }

  .ornaments {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .cyan-line {
      position: relative;
      width: 66%;
      height: 0.4rem;
      border-bottom: 1px solid rgb(var(--cyan));

      &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        width: 6rem;
        height: 0.3rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        background-color: rgb(var(--cyan));
      }
    }
    margin-top: 3rem;
  }

  .cyan-rect {
    width: 6.5rem;
    height: 0.4rem;
    background-color: rgb(var(--cyan));
  }
}
</style>
