<template>
  <footer class="footer">
    <UiContainer>
      <div class="content">
        <div class="left">
          <UiImage src="/images/logo.svg" />
        </div>
        <div class="right">
          <div class="links" />
          <div class="socials">
            <NuxtLink v-for="(social, index) in socials" :key="`social-${index}`" class="social" :href="social.url" target="_blank">
              <UiIcon :name="social.icon" class="icon" />
            </NuxtLink>
          </div>
        </div>
      </div>
    </UiContainer>
  </footer>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import type { Ref } from 'vue'
import type { SocialNetworkType } from '~/types/'
import socialNetworks from '~~/assets/static/json/shared/socials.json'

const socials: Ref<SocialNetworkType[]> = ref(socialNetworks)
</script>

<style lang="postcss" scoped>
.footer {
  background-color: rgb(var(--black));
  height: var(--footer-height);
  padding: 6rem 0;
  width: 100%;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: var(--col);

    @mixin sm {
      gap: 2rem;
      flex-direction: column;
    }
  }

  .left {
    width: calc(var(--col) * 1);
  }

  .right {
    .socials {
    display: flex;
    gap: 1.5rem;
  }

  .social .icon {
    width: 2.5rem;
    height: 2.5rem;
    transition: var(--transition-default);

    &:hover {
      color: rgb(var(--cyan));
    }
  }
  }
}
</style>
