<template>
  <header class="header">
    <div class="inner">
      <div class="left" />
      <NuxtLink to="/" class="logo">
        <UiImage src="/images/logo.svg" />
      </NuxtLink>
      <div class="right">
        <div class="socials">
          <NuxtLink v-for="(social, index) in socials" :key="`social-${index}`" class="social" :href="social.url" target="_blank">
            <UiIcon :name="social.icon" class="icon" />
          </NuxtLink>
        </div>
        <UiButton href="https://cypher-neko.gitbook.io/cypher-neko/" target="_blank" white>
          whitepaper
        </UiButton>
      </div>
    </div>
  </header>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import type { Ref } from 'vue'
import type { SocialNetworkType } from '~/types/'
import socialNetworks from '~~/assets/static/json/shared/socials.json'

const socials: Ref<SocialNetworkType[]> = ref(socialNetworks)
</script>

<style lang="postcss" scoped>
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background-color: rgb(var(--black));
  z-index: var(--header-index);

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 160rem;
    padding: 1rem 2rem;
    margin: auto;

    @mixin sm {
      margin-top: 15rem;
    }
  }

  &::before {
    position: absolute;
    display: block;
    content: "";
    top: calc(100% - 0.8rem);
    left: 50%;
    transform: translateX(-50%);
    width: 36rem;
    height: 4.4rem;
    background-image: url('/images/ui/header-logo-shape.svg');
  }

  .left,
  .right {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .right {
    gap: 2.5rem;

    @mixin sm {
      width: 100%;
      flex-direction: column;
    }
  }

  .logo {
    width: 14rem;
    position: absolute;
    left: 50%;
    top: 33%;
    transform: translateX(-50%);
  }

  .socials {
    display: flex;
    gap: 1.5rem;

    @mixin sm {
      order: -1;
    }
  }

  .social .icon {
    width: 2.5rem;
    height: 2.5rem;
    transition: var(--transition-default);

    &:hover {
      color: rgb(var(--cyan));
    }
  }
}
</style>
