<template>
  <div class="the-loader">
    <div class="spinner-wrapper">
      <div class="spinner" />
    </div>
  </div>
</template>

<style lang="postcss" scoped>
.the-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(var(--black));
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner {
  width: 12rem;
  height: 12rem;
  background-color: rgb(var(--cyan));
  border-radius: 100%;
  animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
</style>
