<template>
  <NuxtLink :href="props.href" :target="props.target" class="button" :class="{'white': props.white}">
    <slot />
  </NuxtLink>
</template>

<script setup lang="ts">
interface Props {
    href: string,
    target: '_blank'|'_self',
    white?: boolean
}

const props = withDefaults(defineProps<Props>(), {
  target: '_self'
})
</script>

<style lang="postcss" scoped>
.button {
  padding: .5rem 1.5rem;
  font-size: 1.8rem;
  font-weight: var(--font-bold);
  border-radius: var(--border-radius-sm);

  &.white {
    background-color: rgb(var(--white));
    color: rgb(var(--black));

    &:hover {
      background-color: rgb(var(--dark-blue));
      color: rgb(var(--white));
    }
  }
}
</style>
