<template>
  <svg xmlns="http://www.w3.org/2000/svg">
    <defs>
      <clipPath :id="props.pathId">
        <path v-if="props.pathId === 'mask-three-intros'" d="M28.0331555,0 L399.548015,0 L428.856735,28.4119494 L881.003821,28.4119494 L895.658181,14.2059747 L1018.39322,14.2059747 L1033.04758,0 L1276.74669,0 C1278.41777,313.179595 1278.41777,480.669178 1276.74669,502.468751 C1275.07562,524.268323 1263.31516,538.445406 1241.46533,545 L1164.24436,545 L1132.74778,545 L1033.04758,545 L986.896643,545 L256.654347,545 L208.490567,545 L131.672431,545 L104.469501,545 L0,545 L0,28.4119494 L28.0331555,0 Z" />
        <polygon v-if="props.pathId === 'mask-community'" points="297.977631 29.7648948 327.742526 0 509.41929 0 524.301737 14.8824474 623.5 14.8824474 638.382447 29.7648948 1096.18636 29.7648948 1111.06881 14.8824474 1188.22601 14.8824474 1203.10845 29.7648948 1440 29.7648948 1440 630 1134 630 1117.15202 613.152015 992.271552 613.152015 975.423567 630 305 630 288.152015 613.152015 288.152015 630 152.178648 630 135.330664 613.152015 70.5497077 613.152015 53.7017231 630 0 630 0 29.7648948" />
      </clipPath>
    </defs>
  </svg>
</template>

<script setup lang="ts">
interface Props {
  pathId: string,
}

const props = defineProps<Props>()
</script>

<style lang="postcss" scoped>
svg {
  position:absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}
</style>
