<template>
  <component :is="props.tag" class="container">
    <div class="inner">
      <slot />
    </div>
  </component>
</template>

<script setup lang="ts">
interface Props {
  tag?: string,
}

const props = withDefaults(defineProps<Props>(), {
  tag: 'div',
  innerClass: ''
})
</script>

<style lang="postcss" scoped>
.container {
  width: 100%;

  .inner {
    position: relative;
    width: 100%;
    max-width: var(--layout-width);
    margin: 0 auto;

    @mixin xl {
      max-width: calc(var(--layout-width) - var(--gutter) * 2);
    }
    @mixin lg-down {
      padding-left: var(--gutter);
      padding-right: var(--gutter);
    }
  }
}
</style>
