<template>
  <div>
    <ArrowLongRight v-if="props.name === 'arrow-long-right'" />
    <SocialMedium v-if="props.name === 'medium'" />
    <SocialTelegram v-if="props.name === 'telegram'" />
    <SocialTwitter v-if="props.name === 'twitter'" />
    <Plus v-if="props.name === 'plus'" />
    <Squares45 v-if="props.name === 'squares-45-deg'" />
    <DoubleChevronDown v-if="props.name === 'double-chevron-down'" />
  </div>
</template>

<script setup lang="ts">
import ArrowLongRight from '~/assets/images/icons/arrow-long-right.svg?component'
import SocialMedium from '~/assets/images/icons/social-medium.svg?component'
import SocialTelegram from '~/assets/images/icons/social-telegram.svg?component'
import SocialTwitter from '~/assets/images/icons/social-twitter.svg?component'
import Plus from '~/assets/images/icons/plus.svg?component'
import Squares45 from '~/assets/images/icons/squares-45-deg.svg?component'
import DoubleChevronDown from '~/assets/images/icons/double-chevron-down.svg?component'

interface Props {
  name: string,
}

const props = defineProps<Props>()
</script>
