<template>
  <div class="image-wrapper" :class="[theme, blendMode, objectFit, { hover }]">
    <img
      :src="props.src"
      :alt="props.alt"
      class="image"
    >
  </div>
</template>

<script setup lang="ts">
interface Props {
  alt?: string,
  blendMode?: string,
  src: string,
  theme?: string,
  objectFit?: string,
  hover?: boolean,
}

const props = defineProps<Props>()
</script>

<style lang="postcss" scoped>
.image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  line-height: 0;

  &.contain {
    .image {
      object-fit: contain;
    }
  }

  /* Blend modes */
  &.overlay {
    mix-blend-mode: overlay;
  }

  &.hover {
    &:hover .image {
      transform: scale(1.1);
    }
  }

  /* Themes */
  &.card-three-intros {
    height: 30rem;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }
  &.card-default {
    height: var(--card-intro-default-height);
    border-top-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    transition: var(--transition-default);
}
</style>
