<template>
  <div class="social-cards">
    <div class="cards">
      <NuxtLink v-for="(social, index) in socials" :key="`social-${index}`" class="card" :href="social.url" target="_blank">
        <UiIcon :name="social.icon" class="icon" />
      </NuxtLink>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import type { Ref } from 'vue'
import type { SocialNetworkType } from '~/types/'
import socialNetworks from '~~/assets/static/json/shared/socials.json'

const socials: Ref<SocialNetworkType[]> = ref(socialNetworks)
</script>

<style lang="postcss" scoped>
.cards {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
    width: 100%;
    max-width: 70rem;
    gap: 2rem;
    font-size: 5rem;
}
.card {
    background-color: rgb(var(--dark-blue));
    width: 100%;
    height: 10rem;
    min-height: 4rem;
    border-bottom-right-radius: var(--border-radius-sm);
    border-top-left-radius: var(--border-radius-sm);
    border: 1px solid rgba(var(--cyan), 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;

    @mixin sm {
      height: auto;
    }

    &:hover {
      background-color: rgb(var(--cyan));
      border-color: rgb(var(--white));
    }

    .icon {
      line-height: 0;
      width: 5rem;
      height: 5rem;

      @mixin md {
        width: 3.75rem;
        height: 3.75rem;
      }
      @mixin sm {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
}
</style>
