<template>
  <component :is="props.tag" class="text" :class="size">
    <slot />
  </component>
</template>

<script setup lang="ts">
interface Props {
    tag?: string,
    size?: string,
}

const props = withDefaults(defineProps<Props>(), {
  tag: 'div',
  size: ''
})
</script>

<style lang="postcss" scoped>
.text {
  &.lg {
    font-size: 2rem;

    @mixin sm {
      font-size: 1.7rem;
    }
  }
  &.md {
    font-size: 1.6rem;
  }
}
</style>
