<template>
  <component :is="props.tag" class="title" :class="[size, theme, { 'no-margin': noMargin}]">
    <slot />
    <UiIcon v-if="theme === 'hero'" name="double-chevron-down" class="chevron-down" />
  </component>
</template>

<script setup lang="ts">
interface Props {
    tag?: string,
    size?: string,
    theme?: string,
    noMargin?: boolean
}

const props = withDefaults(defineProps<Props>(), {
  tag: 'h2',
  size: 'md',
  theme: ''
})
</script>

<style lang="postcss" scoped>
.title {
  --color: var(--cyan);
  position: relative;

  &.lg {
    font-size: 15rem;
    margin: 0.3em 0;

    @mixin xl-up {
      font-size: 4.5vw;
    }
    @mixin md {
      font-size: 12rem;
    }
    @mixin sm {
      font-size: 6rem;
    }
  }
  &.md {
    font-size: 4.5rem;

    @mixin md {
      font-size: 3.9rem;
    }
    @mixin sm {
      font-size: 3.2rem;
    }
  }
  &.sm {
    font-size: 2.2rem;
  }
  &.xs {
    font-size: 1.8rem;
    margin: 0.66em 0;
  }

  & {
    line-height: 1;
    color: rgb(var(--color));
  }

  &.no-margin {
    margin: 0;
  }

  &.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(var(--cyan), 0.15);

    @mixin sm {
      color: rgba(var(--cyan), 0.5);
    }

    &::after {
      position: absolute;
      left: 50%;
      top: 2em;
      transform: translate(-50%, -50%);
      font-family: var(--font-text);
      font-weight: var(--font-bold);
      font-size: 0.28em;
      content: attr(after);
      color: rgb(var(--white));

      @mixin sm {
        display: none;
      }
    }
  }

  .chevron-down {
    line-height: 0;

    @mixin sm {
      transform: scale(0.6);
    }
  }
}
</style>
