@font-face {
    font-family: "NeonZone";
    font-style: normal;
    font-weight: 400;
	font-display: auto;
    src: url("/assets/fonts/NeonZone.woff2") format("woff2"),
        url("/assets/fonts/NeonZone.woff") format("woff");
}

@font-face {
    font-family: "Oxygen";
    font-style: normal;
    font-weight: 300;
	font-display: auto;
    src: url("/assets/fonts/Oxygen-Light.woff2") format("woff2"),
        url("/assets/fonts/Oxygen-Light.woff") format("woff");
}

@font-face {
    font-family: "Oxygen";
    font-style: normal;
    font-weight: 400;
	font-display: auto;
    src: url("/assets/fonts/Oxygen-Regular.woff2") format("woff2"),
        url("/assets/fonts/Oxygen-Regular.woff") format("woff");
}

@font-face {
    font-family: "Oxygen";
    font-style: normal;
    font-weight: 700;
	font-display: auto;
    src: url("/assets/fonts/Oxygen-Bold.woff2") format("woff2"),
        url("/assets/fonts/Oxygen-Bold.woff") format("woff");
}