:root {
  --black: 0, 0, 0;
  --white: 255, 255, 255;
  --cyan: 12, 240, 246;
  --purple: 255, 0, 222;
  --dark-blue: 10, 11, 30;
  --medium-blue: 18, 19, 49;

  --bg: var(--dark-blue);
  --color: var(--white);

  --font-title: "NeonZone", "system-ui", "-apple-system", "BlinkMacSystemFont",
    '"Segoe UI"', "Roboto", '"Helvetica Neue"', "Arial", '"Noto Sans"',
    "sans-serif", '"Apple Color Emoji"', '"Segoe UI Emoji"', '"Segoe UI Symbol"',
    '"Noto Color Emoji"';
  --font-text: "Oxygen", "system-ui", "-apple-system", "BlinkMacSystemFont",
    '"Segoe UI"', "Roboto", '"Helvetica Neue"', "Arial", '"Noto Sans"',
    "sans-serif", '"Apple Color Emoji"', '"Segoe UI Emoji"', '"Segoe UI Symbol"',
    '"Noto Color Emoji"';

  --font-light: 300;
  --font-normal: 400;
  --font-bold: 700;

  --layout-width: 1280px;
  --col: calc(var(--layout-width) / 12);

  --gutter: 2rem;

  --border-radius: 3rem;
  --border-radius-sm: 1.5rem;
  --border-radius-xs: 0.75rem;

  --transition-duration: 0.3s;
  --transition-default: all var(--transition-duration) ease-out;

  --header-height: 6rem;
  --card-intro-default-height: 45rem;
  --footer-height: 18rem;

  --blocks-gap: 10rem;

  @mixin md {
    --blocks-gap: 7.5rem;
  }
  @mixin sm {
    --blocks-gap: 5rem;
  }

  --header-index: 100;
  --three-intros-index: 10;
}
