html {
  background-color: rgb(var(--bg));
  font-size: 62.5%;
  font-size: calc(1em * 0.625); /* fix */
}

body {
  background-color: rgb(var(--dark-blue));
  font-family: var(--font-text);
  font-size: 1.4rem;
  line-height: 1.6;
  font-weight: var(--font-normal);
  color: rgb(var(--white));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
}

a {
  transition: var(--transition-default);
}

small {
  font-size: 0.8em;
}

main {
  margin-top: var(--header-height);
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

::selection {
  color: white;
  background: rgba(var(--purple), 0.3);
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0.4;
  transform: translateY(-3rem);
}
