<template>
  <div>
    <TheLoader v-show="showLoader" />
    <div v-show="!showLoader">
      <TheHeader />
      <slot />
      <TheFooter />
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted } from 'vue'

const showLoader = ref(true)

onMounted(() => {
  showLoader.value = false
})

</script>
