<template>
  <main class="blog">
    <BlockPageBanner :title="page.title" :image="page.image" :intro="publishedAt" />
    <BlockTextHero v-if="page.intro">
      {{ page.intro }}
    </BlockTextHero>
    <UiContainer class="container">
      <ContentDoc />
    </UiContainer>
  </main>
</template>

<script setup lang="ts">
import { parseISO, format } from 'date-fns'

const { page } = useContent()

useContentHead(page)

const publishedAt = format(parseISO(page.value.published_at), 'MMMM d, yyyy')
</script>

<style lang="postcss" scoped>
.blog {
  .container {
    padding: var(--blocks-gap) 0;
  }
}
</style>
