<template>
  <main>
    <pre>{{ navigation }}</pre>
  </main>
</template>

<script setup lang="ts">
const { data: navigation } = await useAsyncData('navigation', () => fetchContentNavigation())
</script>
