<!-- eslint-disable vue/no-v-html -->
<template>
  <main class="blocks">
    <BlockHeroHome :title="content?.BlockHeroHome.title" :background-image="content?.BlockHeroHome.backgroundImage" :foreground-image="content?.BlockHeroHome.foregroundImage" />
    <BlockThreeIntros :intros="content?.BlockThreeIntros.intros" />
    <BlockSeparator reverse-h separator="h-2" />
    <BlockTextHero>
      {{ content?.BlockTextHero.slot_default }}
    </BlockTextHero>
    <BlockSeparator separator="h-1" />
    <BlockCommunity :title="content?.BlockCommunity.title" :background-image="content?.BlockCommunity.backgroundImage">
      <span v-html="content?.BlockCommunity.slot_default" />
    </BlockCommunity>
    <BlockSeparator reverse-v reverse-h separator="h-3" />
    <BlockCardsSlider
      :title="content?.BlockCardsSlider.title"
      :slides="content?.BlockCardsSlider.slides"
    >
      <span v-html="content?.BlockCardsSlider.slot_default" />
    </BlockCardsSlider>
    <BlockBlogLatest :title="content?.BlockBlogLatest.title">
      <span v-html="content?.BlockBlogLatest.slot_default" />
    </BlockBlogLatest>
  </main>
</template>

<script setup lang="ts">
const { data } = await useAsyncData('home', () => queryContent('/pages/home').findOne())
const content = data
</script>

<style lang="postcss">
.blocks {
  display: flex;
  flex-direction: column;
  gap: var(--blocks-gap);
  padding-bottom: var(--blocks-gap);
}
</style>
